<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Sections</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="p-3">
        <!-- Affichage du message flash -->
        <div
          th:if="${not #strings.isEmpty(message)}"
          class="alert"
          th:classappend="${alertClass}"
          role="alert"
        >
          <span th:text="${message}"></span>
        </div>
        <div class="card">
          <div class="card-header">Liste des sections</div>
          <div class="card-body">
            <!-- Formulaire de recherche -->
            <form method="get" th:action="@{/sections}">
              <ul class="nav nav-pills">
                <li>
                  <label class="form-label">Keyword:</label>
                </li>
                <li>
                  <input
                    type="text"
                    class="form-control"
                    name="keyword"
                    th:value="${keyword}"
                    placeholder="Entrez le mot clé"
                  />
                </li>
                <li>
                  <button class="btn btn-info">
                    <i class="bi bi-search"></i>
                  </button>
                </li>
              </ul>
            </form>

            <!-- Table des sections -->
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Libellé</th>
                  <th>Service</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="s : ${listsections}">
                  <td th:text="${s.id}"></td>
                  <td th:text="${s.libelle}"></td>
                  <td th:text="${s.service.libelle}"></td>
                  <td>
                    <a
                      onclick="return confirm('Êtes-vous sûr?')"
                      class="btn btn-danger"
                      th:href="@{deleteSection(id=${s.id}, keyword=${keyword}, page=${currentPage})}"
                    >
                      <i class="bi bi-trash"></i>
                    </a>
                  </td>
                  <td>
                    <a
                      class="btn btn-primary"
                      th:href="@{editSection(id=${s.id})}"
                    >
                      <i class="bi bi-pencil"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Pagination -->
            <ul class="nav nav-pills">
              <li th:if="${currentPage > 0}">
                  <a class="btn btn-outline-info ms-1" th:href="@{/sections(page=${currentPage - 1}, keyword=${keyword})}">Précédent</a>
              </li>
              <li th:each="page, status : ${pages}">
                  <a th:class="${status.index == currentPage ? 'btn btn-info ms-1' : 'btn btn-outline-info ms-1'}"
                     th:href="@{/sections(page=${status.index}, keyword=${keyword})}"
                     th:text="${status.index}">
                  </a>
              </li>
              <li th:if="${currentPage < pages.length - 1}">
                  <a class="btn btn-outline-info ms-1" th:href="@{/sections(page=${currentPage + 1}, keyword=${keyword})}">Suivant</a>
              </li>
           </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
